@import 'mini-cart';
@import 'welcome-banner';
@import 'main-slider';
@import 'menu';
@import 'catalog';
@import 'open-banner';
@import 'brands';
@import 'inst';
@import 'main-soc-networks';
@import 'footer';

$header-bg-color: #abeafa;

.first-section {
  padding-top: 18px;
  padding-bottom: 66px;
  background-color: $header-bg-color;
}

.main-content {
  background-color: #f8f8f8;
}