.main-soc-networks {

  %main-soc-networks__item {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 64px;
      max-height: 64px;
    }
  }

  &__fb {
    @extend %main-soc-networks__item;
    background-color: #3b5997;
  }

  &__tw {
    @extend %main-soc-networks__item;
    background-color: #3fccfd;
  }

  &__pin {
    @extend %main-soc-networks__item;
    background-color: #cb2027;
  }
}