.main-soc-networks {

  %main-soc-networks__item {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 64px;
      max-height: 64px;
    }
  }

  &__fb {
    @extend %main-soc-networks__item;
    background-color: #3b5997;
    transition: all ease-in .3s;

    &:hover {
      background-color: #1e2e4e;
    }
  }

  &__tw {
    @extend %main-soc-networks__item;
    background-color: #3fccfd;

    &:hover {
      background-color: #029ed4;
    }
  }

  &__pin {
    @extend %main-soc-networks__item;
    background-color: #cb2027;

    &:hover {
      background-color: #731216;
    }
  }
}