$menu-dark-color: #333;
.menu {
  background-color: #26d2fc;
  margin-top: -20px;
  font-family: $roboto;

  &__header {
    color: #fff;
    background-color: $menu-dark-color;
    text-transform: uppercase;
    padding: 25px 0 25px 40px;
    display: block;
    font-weight: bold;
  }

  &__list {
    font-weight: 900;
    padding: 0;
  }

  &__item {
    list-style-type: none;

    &_link {
      display: block;
      color: #333;
      padding: 15px 0 15px 40px;
      text-transform: uppercase;
      transition: all ease-in .2s;
    }

    &_link:hover,
    &_link-active {
      background-color: $menu-dark-color;
      color: #fff;
      text-decoration: none;
    }
  }
}