@import 'index';

@import "~bootstrap";
@import 'font.scss';

body {
  line-height: 1;
}

.main-container {
  max-width: 1200px;
}

.header {
  background-color: $header-bg-color;
  display: flex;
  padding: 24px 0;

  /*&__content {
    max-width: 1200px;
  }*/

  &__row {
    display: flex;
  }
}

.soc-networks {
  max-width: 130px;
  width: 100%;
}
